<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<script src="static/jquery-3.2.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
{# <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script> #}


<script type="text/javascript">


    /* returns the question with a question id higher than. Blocks */
    function next_question(prev_id) {
        let question = null;
        $.ajax({
            async: false,
            url: 'questions/' + (prev_id + 1),
            dataType: 'json',
            success: function(data) {
                question = data;
            }
        });
        return question;
    }

    function answer_question(question_id, answer) {
        $.ajax({
            async: false,
            url: `questions/${question_id}/${answer}`,
            dataType: 'json',
            success: function(data) {
                alert('answered');
                console.log('answered question ' + question_id);
            }
        });
    }

    function get_answer() {
        return $('[name=answer]:checked').val();
    }

    var next_id;
    var chart;

    $(document).ready(function() {
        let question_id_start = 0;
        next_id = question_id_start;

        chart = create_chart(get_stats());

        question = next_question(next_id);
        question_box.innerText = question['question'];
        next_id = question.id;

        $('#next').click(function(event) {
            event.preventDefault();

            answer = get_answer();
            if (! /(yes)|(no)/.test(answer)) {
                alert('Please select an answer');
                return;
            }
            
            answer_question(question.id, answer);
            update_chart(get_stats());
            question = next_question(next_id);
            
            if (question.question === undefined) {
                console.log("done");
                question = next_question(question_id_start);
            }
            next_id = question['id'];
            question_box.innerText = question['question'];
        });
    });


    function get_stats() {
        let stats = null;
        $.ajax({
            async: false,
            url: 'stats',
            dataType: 'json',
            success: function(data) {
                stats = data;
            }
        });
        return stats;
     }

    /* This retrieves the data and creates a new chart.
       Very inefficient but works for this case.
    */
    function create_chart(stats) {
        categories = stats.map((s) => s.name);
        data = stats.map((s) => s.value);


        chart = new Highcharts.Chart({
            chart: {
                type: 'bar',
                renderTo: 'chart'
            },
            title: {
                text: 'Stats/Token values'
            },
            xAxis: {
                categories: categories,
            },
            /*
            series: [{
                name: 'stats',
                data: data,
                animation: false,
            }],
            */
        });
        chart.addSeries({
                name: 'stats',
                data: data,
                animation: false,
        }, false);
        chart.redraw();
        
        return chart;
    }
    
    function update_chart(stats) {
        data = stats.map((s) => s.value);
        console.log("updating chart:" + data);
        chart.series[0].setData(data, false);
        chart.redraw();
    }
   
   

</script>

<style>
.achart {
    min-width: 310px;
    max-width: 800px;
    height: 400px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

</style>


</head>


<body>

    <div id="question_box"></div>

    <form>
        <ul>
           <li><input type="radio" name="answer", value="yes">Yes</li>
           <li><input type="radio" name="answer", value="no">No</li>
        </ul>
    </form>

    <button id="next">Next</button>

	<div id="chart-container">
		<div id="chart" class="achart"></div>
	</div>

</body>
</html>

